body, .modal-body {
    background-image: url("space.jpg");
    color: white;
    font-family: 'Anton', sans-serif;
}
tbody {
    font-family: 'Raleway', sans-serif;
}
 .modal-header, .modal-footer {
    background-color: black;
    color: white;
    font-family: 'Anton', sans-serif;
 }
.buttons {
    margin-bottom: 5px;
}